* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(to bottom right, #00f490, #00bbc9);
  font-weight: 300;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo {
  padding-right:650px;
}
.logo img {
  margin-top: 20px;
  width: 150px;
  height: 150px;
}
.first-button {
  margin-right: 15px;
  border-radius: 5px;
  position: relative;
  transition: all 0.8s;
  position: ;
}
.first-button button {
  font-size: 20px;
}

.first-button a {
  text-decoration: none;
  color: rgb(255, 244, 244);
}
.first-button button:hover {
  background-color: rgba(0, 188, 201, 0.462);
}

.second-button {
  padding-top: 20px;
  width: 150px;
  height: 70px;
  border-radius: 5px;
  border: 0.5px solid #fff;
  transition: all 0.8s;
  text-align: center;
}

.second-button a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.first-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 150px;
}


.text-main h1 {
  font-size: 5rem;
  color: #fff;
  font-family: "Libre Bodoni", serif;
  font-weight: bolder;
  
}
.text-main p {
  color: #fff;
  font-size: 40px;
}
.button-main {
  padding-top: 15px;
  width: 160px;
  height: 60px;
  border-radius: 5px;
  border: 0.5px solid #fff;
  transition: all 0.8s;
  text-align: center;
}
.button-main a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}
.button-main:hover {
  background-color: rgba(0, 188, 201, 0.462);
  cursor: pointer;
}
.img-main {
  width: 400px;
  height: 400px;
  padding-top: 100px;
}
.second-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.intro {
  border: 1px solid black;
  height: 300px;
  padding: 50px 60px 60px 60px ;
  background-color: #fff;
  margin-left: 20px;
  border-radius: 0 5px 5px 0;
}
.intro p a {
  text-decoration: none;
  color: #00bbc9;
  font-weight: bolder;
}
.intro p a:hover {
  text-decoration: underline;
  color: blue;
  opacity: 0.8;
}
.mr-dan img {
  width: 300px;
  height: 300px;
  border-radius: 5px 0 0 5px;
}

.footer {
  margin-top:40px ;
  margin-bottom: 40px;
  display:grid ;
  grid-template-columns: auto auto auto;
  gap: 25px;
}
.first-card , .second-card , .third-card{
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.15) , -2px 5px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.5s;
}
.first-text , .second-text , .third-text {
  background-color: #fff;
  padding: 20px;
  font-weight: lighter;
}
.footer-button {
  width: 140px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(0, 94, 201);
  background-color: #00bbc9;
  color: #fff;
}
.first-card:hover {
  transform: scale(1.1);
}
.second-card:hover {
  transform: scale(1.1);
}
.third-card:hover {
  transform: scale(1.1);
}

